/* PANTRY LIST */

$main-font: "Quicksand", sans-serif;
$dark-blue: #5B7894;
$green: #359567;
$light-green: #C4EB67;
$slow-ease-in: .8s ease;

.drop-menu {
  align-items: center;
  background-color: #DAE4EE;
  display: none;
  height: 600px;
  margin-left: 81%;
  margin-top: 92px;
  overflow: scroll;
  padding: 12px;
  position: absolute;
  text-align: center;
  width: 250px;
  z-index: 3;

  h2 {
    color: $green;
    margin: 0px;
  }

  .pantry-list {
    color: #000000;
    padding-left: 15px;
    text-align: left;
    list-style-type: none;
    li {
      margin: 2px;
    }
  }
}
