/* RECIPE CARD SECTION */

@import 'variables';

main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-h3 {
  color: white;
}

.recipe-card {
  background-color: lightslategray;
  border: 2px solid $light-green;
  border-radius: 7px;
  cursor: pointer;
  height: 270px;
  margin: 20px;
  padding: 15px;
  width: 250px;

  .card-photo-container {
    align-items: center;
    display: flex;
    height: 130px;
    justify-content: center;
    position: relative;

    .card-photo-preview {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 7px;
      cursor: pointer;
      height: 130px;
      transition: $slow-ease-in;
      width: 100%;
    }
  }

  .card-apple-icon {
    cursor: pointer;
    float: right;
    height: 50px;
    padding-bottom: 10px;
    width: 45px;
  }

  .text {
    background: $green;
    color: white;
    font-weight: 700;
    font-size: 0px;
    opacity: 0%;
    padding: 0%;
    position: absolute;
    text-align: center;
    width: 0%;
    transition: .5s ease;
  }

  &:hover {
    .card-photo-preview {
      opacity: 50%;
      transition: $slow-ease-in;
    }

    .text {
      font-size: 20px;
      opacity: 100%;
      transition: .5s ease;
      width: 100%;
    }

    h3 {
      text-shadow: 0px 0px 4px $light-green;
      transition: $slow-ease-in;
    }
  }

}

/* BUTTONS */
.show-pantry-recipes-btn,
.show-all-btn,
.filter-btn {
  background-color: $green;
  border: 0;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-family: $main-font;
  font-size: 12pt;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}

.show-pantry-recipes-btn {
  margin-top: 10px;
}

.show-all-btn {
  height: 40px;
  margin-top: 20px;
  width: 200px;
}

.filter-btn:hover {
  background-color: #84C8A4;
}
