@import 'recipe-card';
@import 'header';
@import 'recipe-instructions';
@import 'pantry-list';
@import 'banner-image';
@import 'filter-sidebar';
@import 'variables';

body {
  background-color: $dark-blue;
  display: grid;
  font-family: $main-font;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "header header"
    "image image"
    "aside main";
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: auto;
}

h1 {
  align-self: center;
  color: white;
  font-family: "Sulphur Point", sans-serif;
  font-size: 50px;
  margin: 0%;
  padding: 0.5% 0.7% 0%;
  width: 70%;
}

h2 {
  color: #84C8A4;
  margin: 10px 0px 10px 0px;
}

h3 {
  color: $light-green;
  cursor: pointer;
  height: 17%;
  margin: 5px 5px 10px 0px;
  transition: $slow-ease-in;
}

h4 {
  color: $green;
  background-color: $light-green;
  border-radius: 3px;
  margin: 10px 0px 0px 0px;
  padding: 1px 4px 1px 4px;
  width: max-content;
}
